@media (max-width: 1350px) {
    .container {
        padding: 0 25px;
    }

    .services-block {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width: 1300px) {

 
}

@media (max-width: 1200px){
    .footer-top-description{
        display: none;
    }
}

@media (max-width: 1150px) {

    .company-img {
        display: none;
    }

    .footer-midle-main{
        display: none;
    }
}

@media (max-width: 1120px) {

    .menu {
        display: none;
    }

    .logo-mobile-menu {
        display: block;
    }

}