@media (max-width: 1350px) {
    .container{
        padding: 0 25px;
    }
    .services-block {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (max-width: 1300px){

    .lawyers-block{
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        &-item{
            scroll-snap-align: center;
            scroll-snap-align: start; 
            flex: 0 0 auto;
        }
    }

    .rewievs-block{
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        &-item{
scroll-snap-align: center;
            scroll-snap-align: start; 
            flex: 0 0 auto;
        }
    }

    .materials-block{
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        &-item{
            scroll-snap-align: center;
            scroll-snap-align: start; 
            flex: 0 0 auto;
        }
    }
}

@media (max-width: 1150px) {
    .company-img{
        display: none;
    }
}

@media (max-width: 1100px) {
    .menu{
        display: none;
    }

    .logo-mobile-menu{
        display: block;
    }
}